.cart-item {
    position: relative;
    flex: 0 0 auto;
    width: 120px;
    margin: 0 10px;
    text-align: center;
}

.cart-item-details {
    margin-top: 5px;
}

.cart-item-details div:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.4em;
    line-height: 1.2em;
    margin-bottom: 5px;
    font-size: 0.9em;
    word-break: break-word;
    width: 100%;
}

.cart-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.remove-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    color: red;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-button:hover {
    background-color: red;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px auto;
    width: fit-content;
}

.cart-item-buttons button,
.cart-item-buttons span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.cart-item-buttons button:first-child {
    background-color: red;
    color: white;
}

.cart-item-buttons button:last-child {
    background-color: green;
    color: white;
}

.cart-item-buttons span {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme .cart-item-buttons span {
    background-color: white;
    color: black;
}

.dark-theme .cart-item-buttons span {
    background-color: #333;
    color: white;
}

.placeholder-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #666;
    font-size: 24px;
}
